[submodule "UBICUA"]
	path = UBICUA
	url = https://github.com/JuanCasado/COMPUTACION_UBICUA.git
[submodule "SOFT_COMPUTING"]
	path = SOFT_COMPUTING
	url = https://github.com/JuanCasado/SOFT_COMPUTING.git
[submodule "ROBOTICA"]
	path = ROBOTICA
	url = https://github.com/JuanCasado/ROBOTICA.git
[submodule "PATRONES"]
	path = PATRONES
	url = https://github.com/JuanCasado/PATRONES.git
[submodule "DATOS"]
	path = DATOS
	url = https://github.com/JuanCasado/DATOS.git
